# Logs
logs/
*.log
npm-debug.log*

# Node modules
node_modules/

# Build directories
dist/
build/

# Dependency directories
jspm_packages/

# Next.js build output
.next/

# Nuxt.js build output
.nuxt/

# Gatsby files
.cache/
public/

# Temporary folders
.temporary/
